      <div class="jumbotron">
        <h1 class="display-3 text-center" style="color: #053557">EventBrite</h1>
        <p class="lead text-center pt-2"> Participez aux évènements près de chez vous ! </p>
      </div>

      
